# Enable Routing for Slim PHP
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

# Slim v2 docs version (routing):
#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.php [QSA,L]

# Basic Auth (password required)
AuthName "Restricted Area"
AuthType Basic
AuthUserFile /home/mariomaker/public_html/.htpasswd
require valid-user
